Q1.Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2.Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
series = pd.Series(my_list)

print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3.Create a Pandas DataFrame that contains the following data:

In [5]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4.What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [6]:
'''
In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types, 
similar to a spreadsheet or a SQL table. It is one of the most important and commonly used data structures in Pandas.

On the other hand, a Series is a one-dimensional labeled array capable of holding data of any type. 
It is like a column in a spreadsheet or a SQL table.

In simple terms, a Series is a single column of data, while a DataFrame is a collection of such columns.
'''
#example
import pandas as pd

# Create a series
my_series = pd.Series([1, 2, 3, 4, 5])

# Create a dataframe
my_df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

print("Series:")
print(my_series)
print("\nDataFrame:")
print(my_df)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

Q5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
'''
some of the most common functions:

1.head(n): Returns the first n rows of the DataFrame.

2.tail(n): Returns the last n rows of the DataFrame.

3.info(): Provides information about the DataFrame, including the data types of each column and the number of non-null values.

4.describe(): Computes various summary statistics for each numeric column in the DataFrame, such as count, mean, standard deviation, and quartiles.

5..dropna(): Drops any rows that contain missing values.

6.fillna(value): Replaces any missing values in the DataFrame with the specified value.

7.groupby(column): Groups the data in the DataFrame by the values in the specified column.

8.sort_values(column, ascending=True): Sorts the rows in the DataFrame by the values in the specified column, in ascending or descending order.

apply(func): Applies the specified function to each element in the DataFrame.

pivot_table(values, index, columns, aggfunc): Creates a pivot table from the DataFrame using the specified values, index, columns, and aggregation function aggfunc.
'''

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [10]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

df.loc[0, 'Age'] = 26


df

     Name  Age  Gender
0   Alice   26  Female
1     Bob   30    Male
2  Claire   27  Female

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
import pandas as pd

# Create a Series for each column
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Create a DataFrame from the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Print the DataFrame
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female