Q1) Create python program to sort the given list of tuple based on integer value using a lambda function

In [37]:
li=[('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)]

fun = sorted(li, key=lambda x: x[1])
print(fun)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2)Write a python program to find the square of all numbers in the given list of integer using lambda function

In [45]:
li=[1,2,3,4,5,6,7,8,9,10]
l2 = list(map(lambda li: li ** 2, li))
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3) write a python to convert given list of integer into tuple of string using map lambda function

In [46]:
li=[1,2,3,4,5,6,7,8,9,10]
l2 = tuple(map(lambda li: str(li), li))
print(l2)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4) Write a python program using reduce function to compute the product of  a list containing numbers from 1 to 25

In [60]:
result2 = reduce((lambda x, y: x * y), range(1,26))
print(result2)

15511210043330985984000000

Q5)write a python program to filter the number of given that are divisible by 2 and 3 using the filter function 
[2,3,6,9,27,60,90,120,55,46]

In [48]:
li = [2,3,6,9,27,60,90,120,55,46]
  
# result contains odd numbers of the list
result = filter(lambda x: x % 3 == 0, li)
print(list(result))
  
# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, li)
print(list(result))

[3, 6, 9, 27, 60, 90, 120]
[2, 6, 60, 90, 120, 46]

Q6) write a python program to find a palindromes in the given list of string using lambda and filter function['python',''php','aba','radar','level']

In [51]:
li=['python','php','aba','radar','level']
result = filter(lambda x: x[::-1] == x, li)
print(list(result))

['php', 'aba', 'radar', 'level']