Q1. List any five functions of the pandas library with execution.

In [23]:
#1. read_excel
import pandas as pd
pd.read_excel('Book1.xlsx')

,SN,Date_Of_Start,Task,Complete_Task_Date,Status
0,1,2022-11-01,"SQL(DDL cmd),pk,fk,alter,Installation of Oracl...",2022-11-02,complete
1,2,2022-11-02,"SQL(DDM cmd)-insert,update,delete,update",2022-11-03,complete
2,3,2022-11-03,"SQL(Table_JOINS)(inner,outer,natural),create u...",2022-11-03,complete
3,4,2022-11-03,"meeting(harish sir POST Senction,)",2022-11-03,complete
4,5,2022-11-03,"SQL(Single_Row_Function)upper,lower,Date_Function",2022-11-03,complete
5,6,2022-11-03,"credit senscation,IRR,Auto_Loan,Home_Loan",2022-11-04,complete
6,7,2022-11-04,"meeting(harish sir POST Senction,home loan,el...",NaT,complete
7,8,2022-11-04,"Business loan ,types of business loan,letter o...",2022-11-09,complete
8,9,2022-11-05,"meeting harish sir (Disbusment,Resheduling,)",NaT,NaN
9,10,2022-11-06,meeting (lms to los),NaT,process
10,11,2022-11-07,"meeting (vipul sir table, db,sql,advance)",2022-11-11,process
11,12,2022-11-09,"meeting yogesh sir(mvt,networking,firewall,clu...",2022-11-12,NaN
12,13,2022-11-11,"collection,dpd,",NaT,NaN
13,14,2022-11-14,"tcl,vpn,",NaT,process
14,15,NaT,NaN,NaT,NaN
15,16,NaT,NaN,NaT,NaN
16,17,NaT,NaN,NaT,NaN
17,18,NaT,NaN,NaT,NaN
18,19,NaT,NaN,NaT,NaN

In [ ]:
#2. pandas.head
import pandas as pd
Dataframe=pd.read_excel('Book1.xlsx')
Dataframe.head()

In [ ]:
#3. pandas.tail
import pandas as pd
Dataframe=pd.read_excel('Book1.xlsx')
Dataframe.tail()

In [ ]:
#4.pd.DataFrame
import pandas as pd
df = pd.DataFrame({'Weight': [45, 88, 56, 15, 71],
                   'Name': ['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'Age': [14, 25, 55, 8, 21]})
df.columns

In [ ]:
#5.Data_frame.index
import pandas as pd
df = pd.DataFrame({'Weight': [45, 88, 56, 15, 71],
                   'Name': ['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'Age': [14, 25, 55, 8, 21]})
df.index

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
import pandas as pd
df = pd.DataFrame({'A': [45, 88, 56, 15, 71],
                   'B': ['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'C': [14, 25, 55, 8, 21]})
new_ind=[]
for i in range(len(df)):
    new_ind.append((i*2)+1)
df.index =new_ind

df

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [10]:
import pandas as pd

def sum_value(df):
    data = df['Values'].head(3)
    print(data.sum()) 
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)    
sum_value(df)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [25]:
import pandas as pd

def new_column(df):
    print(len(df['Task']))

# df=Dataframe=pd.read_excel('Book1.xlsx')

df={'Task': ["This is a sample task", "Another example task"]}
df['Word_Count'] = df['Task'].apply(len(df['Task']))
df

AttributeError: 'list' object has no attribute 'apply'